BETTER_AUTH_SECRET=""
BETTER_AUTH_URL=""

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""

VITE_APP_URL="http://localhost:3000/"
VITE_SHORT_URL="http://localhost:3000/"
VITE_LONG_URL="http://localhost:3000/"